@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import 'tailwindcss';
@plugin "@tailwindcss/typography";
/* @plugin "daisyui"; */

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "tpl-theme";
  default: true;
  color-scheme: light;

  --color-base-100: oklch(0.98 0.003 220);
  --color-base-200: oklch(0.94 0.010 220);
  --color-base-300: oklch(0.81 0.035 215);
  --color-base-content: oklch(0.34 0.038 217);
  --color-primary: oklch(0.34 0.038 217);
  --color-primary-content: oklch(0.97 0.002 248);
  --color-secondary: oklch(62.64% 0.068 225.08);
  --color-secondary-content: oklch(0.98 0.003 229);
  --color-accent: oklch(0.75 0.121 82);
  --color-accent-content: oklch(0.21 0.059 47);
  /* --color-accent-content: oklch(0.31 0.077 269); */
  --color-neutral: oklch(0.24 0.040 215);
  --color-neutral-content: oklch(0.97 0.002 248);
  --color-info: oklch(0.69 0.094 213);
  --color-info-content: oklch(0.22 0.046 234);
  --color-success: oklch(0.77 0.143 118);
  --color-success-content: oklch(0.22 0.051 118);
  --color-warning: oklch(0.77 0.153 76);
  --color-warning-content: oklch(0.23 0.086 33);
  --color-error: oklch(0.57 0.106 39);
  --color-error-content: oklch(0.98 0.006 31);

  /* border radius */
  --radius-selector: 0.75rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 2px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }
  body {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
  }
}